global_defs {
  router_id {{ inventory_hostname }}
}
 
vrrp_script check_haproxy {
  script "/usr/bin/killall -0 haproxy"
  interval 2
  weight 2
}
 
vrrp_instance k8s-api {
{% if inventory_hostname == groups['master'][0] %}
  state MASTER
{% else %}
  state BACKUP
{% endif %}
  interface {{ control_plane_interface }}
  virtual_router_id 1
  priority 99
  virtual_ipaddress {
    {{ control_plane_endpoint }}
  }
  track_script {
    check_haproxy
  }
}

vrrp_instance http {
{% if inventory_hostname == groups['master'][0] %}
  state MASTER
{% else %}
  state BACKUP
{% endif %}
  interface {{ http_interface }}
  virtual_router_id 1
  priority 99
  virtual_ipaddress {
    {{ http_endpoint }}
  }
  track_script {
    check_haproxy
  }
}
